---
// Component Imports
import RecipeFinder from '../components/RecipeFinder.svelte';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Voice-to-Recipe AI</title>
	</head>
	<body>
		<main>
			<RecipeFinder client:load />
		</main>
	</body>
</html>
